h5, h1, h4 {
    color: white;
}

h1{
    font-size: 60px;
}
h4{
    font-size: 24px;
    font-weight: 600;
}
h5{
    font-size: 20px;
    font-weight: 400;
}

.titles {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-left: 70px;
}

 


.input-box {
    display: flex;
}
.input {
    width: 361.51px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    border: none;
    font-size: 16px;
  }
  
  .PhoneInputInput {
    border: none;
    height: 65%;
    border-left: 1px solid #F41B3B;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 16px;
}
  .PhoneInputInput:focus {
    outline: none;
}
.PhoneInputCountry {
    margin-left: 20px;
}

  .button-subscribe {
    width: 138px;
    height: 62px;
    background: #F41B3B;
    border-radius: 0px 3px 3px 0px;
    border: none;
    color: white;
}


@media  (max-width: 733px) {
    
    h1 {
        font-size: 25px;
    }

    .titles {
        padding-left: 20px;
    }
    h5 {
        font-size: 17px;
    }
    .PhoneInput {
        height: 50px;
        width: 320px;
    }
    .button-subscribe {
        height: 50px;
        border-radius: 3px;
        margin: 20px 0;
    }
    .input {
        border-radius: 3px;
    }
    .input-box {
        display: block;
    }
  }